!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Tickets
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .navbar.navbar-inverse
      .container-fluid
      .navbar-header
        %a.navbar-brand{href: '/'}
          Home
      .collapse.navbar-collapse
        %ul.nav.navbar-nav.navbar-right
          %li
            - if signed_in?
              = link_to('Log out', destroy_user_session_path, :method => :delete)
            - else
              = link_to('Log in', new_user_session_path)
    .container
      = render 'layouts/flash_messages'
      = yield
